/* FONTES */
@font-face {
    font-family: "Miso Bold";
    src: url("../fonts/misoBold.otf");
}


/* RESET */

*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:inherit;
    display: block;
}

li{
    list-style: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button{
    border:none;
    background: none;
    padding:10px 20px;
    box-sizing: border-box;
}

select{
    -webkit-appearance: none;
}

/* PADRÕES */

body, html{
    font-family: "Miso Bold";
}

div.container{
    width: 100%;
    max-width: 1080px;
    margin:auto;
    box-sizing: border-box;
    padding: 0 30px;
}

div.separate{
    width:100%;
    display: table;
    float:left;
    clear:both;
}

div.content{
    display: grid;
    padding:60px 0 40px 0;
}




/* HEADER */

header{
    background:#fd2101;
    width: 100%;
    padding: 10px 0;
    position: relative;
    height: 40px;
}

header figure img.logo{
    width: 170px;
    float: left;
    position:absolute;
    padding:0 30px;
}



/* NAV */

div.navBarMobile{
    display: none;
}

div.navBarMobile img{
    width: 25px;
    box-sizing: border-box;
}

nav.mainNav{
    margin: auto;
    display: table;
    padding-top:2px;
}

nav.mainNav ul li{
    display: inline-block;
    margin:0 16px
}

nav.mainNav ul li a{
    font-size: 1.5em;
    color: #ffffff;
    padding: 5px;
}

nav.mainNav ul li a.subNavIcon{
    background: url(../img/arrow_down.png) no-repeat 100% 70% / 14px;
    padding:0 20px 0 0;
}

a.btnTopHelp{
    color: #ffffff;
    right:0;
    top:0;
    font-size: 1.5em;
    position:absolute;
    padding: 17px 30px;
}






/* CONTENT */


div.salutation{
    font-size: 2em;
    color: #9fdb28;
    text-align: center;
}

div.addUnit{
    display: table;
    margin:auto;
    width: 100%;
    /* background: gray; */
}

div.wrpUnitTags{
    margin:auto;
    width: 724px;
}


div.addUnit input.srcAddUnit{
    font-family: "Miso Bold";
    font-size: 1.3em;
    background: url(../img/icon_search.png) no-repeat 10px 15px / 30px;
    padding:17px 15px;
    box-sizing: border-box;
    text-indent: 35px;
    background-color: #F2EFEC;
    border:none;
    border-radius: 7px;
    width: 100%;
    max-width: 510px;
    margin: 30px auto 0 auto;
    display: table;
}


div.addUnit input.unitTag{
    font-family: "Miso Bold";
    font-size: 1.3em;
    color: #BDBFC1;
    padding:10px 15px;
    box-sizing: border-box;
    border-radius: 7px;
    border:2px solid #BDBFC1;
    width: 100%;
    max-width: 354px;
    margin: 10px 3px;
    background: url(../img/icon_close.png) no-repeat 95% / 12px;
}



div.addUnit input::placeholder{
    color: #BDBFC1;
}

div.addUnit input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BDBFC1;
}
  
div.addUnit input::-ms-input-placeholder { /* Microsoft Edge */
    color: #BDBFC1;
}


div.rangeDate{
    display: table;
    margin:auto;
    width: 100%;
    max-width: 275px;
    /* background: rgb(255, 238, 0); */
    text-align: center;
    margin-top:25px;
    margin-bottom:20px;
    cursor:pointer
}

div.rangeDate figure img{
    width: 32px;
    float:left;
    margin-right: 15px;
    margin-top:4px;
}

div.rangeDate span{
    float:left;
    display:table;
    font-family: "Miso Bold";
    font-size: 1.6em;
    color: #a0cbd5;
    margin-right: 7px;
    margin-top:3px;
    margin-left: 2px;
}

div.rangeDate input{
    float:left;
    display: table;
    border:none;
    background: none;
    font-family: "Miso Bold";
    font-size: 2em;
    color: #a0cbd5;
    width: 105px;
    /* background: burlywood; */
}


div.filterOptions{
    display: table;
    /* background: rgb(119, 255, 226); */
    margin:auto;
    border:2px solid #bdbfc1;
    border-radius: 15px;
    overflow: hidden;
}

label.titleFilterOpt{
    font-size: 1.4em;
    color: #727376;
    width: 100%;
    display: table;
    margin-bottom: 5px;
    float: left;
}

div.filterOptions div.wrpFilter:last-child {
    border-right: none;
}

div.wrpFilter{
    display: table;
    float:left;
    width: 160px;
    border-right:2px solid #bdbfc1;
    /* background: rgb(119, 255, 226); */
    padding:10px 10px 10px 7px;
    box-sizing: border-box;
}

div.wrpFilter select{
    cursor:pointer;
    -webkit-appearance: none;
    font-family: "Miso Bold";
    font-size: 1.5em;
    color: #bdbfc1;
    width: 100%;
    border:none;
    background: url("../img/arrow_down_BDBFC1.png") no-repeat right/ 20px;
}

div.externalOptions{
    display: table;
    margin:auto;
    padding:30px 0;
    box-sizing: border-box;
}

div.externalOptions label{
    font-size: 1.5em;
    color:#727376;
}

div.externalOptions input{
    width: 30px;
    height: 30px;
    float:left;
    margin-right: 10px;
    -webkit-appearance: none;
    border:1px solid #727376;
    border-radius:3px;
    background:none;
}

div.externalOptions input:checked{
    background: url(../img/icon-check.png) no-repeat 2px -2px #f2efec;
}



button.btnSearch{
    font-family: "Miso Bold";
    font-size:1.5em;
    background: #ff9717;
    color:#fff;
    display: table;
    margin:0 auto 10px auto;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;

}






/* FOOTER */


footer{
    background: #F2EFEC;
    display:table;
    width: 100%;
    color: #727376;
    padding: 60px 0 40px 0;
}

footer figure img.logo{
    display: table;
    width: 145px;
    margin-bottom: 20px;
}

footer p.about{
    width: 100%;
    max-width: 400px;
    font-size: 1.5em;
    float:left
}

footer nav.navBottom{
    display:table;
    float:right;
    width: 210px;
}

footer nav.navBottom ul li{
    display: block;
    padding-bottom: 10px;
    font-size: 1.4em;
}

footer div.separate{
    border-bottom:1px solid gray
}

footer div.version{
    float:left;
    width: 100%;
    margin-top:15px;
    font-size:1.3em;
}

footer nav.social{
    text-align: right;
    width: 100%;
    float:right;
    padding: 20px 0;
}


footer nav.social li{
    margin-left:25px
}

footer nav.social li a img{
    width: 30px;
}

footer nav.social li:first-child a img{
    width: 35px;
}

footer nav.terms{
    float:left;
    padding-top:20px;
}

footer nav.terms ul li{
    margin-right:20px;
    font-size:1.3em;
}

footer nav ul li{
    display:inline-block
}






/* MEDIA QUERIES */

@media screen and (max-width: 961px){


    /**** MOBILE ADJUSTMENTS *****/



    /* HEADER  */

    header{
        height: auto;
    }

    header nav.mainNav,
    header a.btnTopHelp{
        display: none;
    }

    header figure img.logo{
        position: initial;
        margin:auto;
        display: table;
        float:none;
        width: 190px;
        padding:5px 0;
    }

    div.navBarMobile{
        display: block;
        position:absolute;
        top:0;
        padding:27px 20px;
        box-sizing: border-box;
    }



    /* CONTENT MOBILE */

    div.salutation{
        float: left;
        font-size: 2.5em;
    }

    div.addUnit input.srcAddUnit{
        margin: 30px 0 0 0;
        max-width: inherit;
        font-size: 1.8em;
        padding: 15px 15px
    }

    div.wrpUnitTags {
        margin: inherit;
        width: auto;
        
    }

    div.wrpUnitTags input.unitTag{
        display: block;
        margin-left: 0;
    }

    div.rangeDate {
        margin: 25px 0 20px 0;
    }

    div.rangeDate figure img {
        margin-top: 0;
    }

    div.wrpFilter {
        width: 33.3%;
    }

    div.filterOptions {
        margin:inherit;
        width: 100%;
    }

    div.externalOptions {
        margin:inherit;
    }



    /* FOOTER */

    footer p.about{
        font-size: 1.3em;
        float:none;
    }

    footer div.version {
        display: none;
    }

    footer nav.navBottom{
        float:left;
        margin-top:40px
    }


    footer nav.social{
        margin-top:-77px;
    }

    footer nav.social ul li{
        margin-left:10px;
    }

    footer nav.social ul li a img{
        width: 25px;
    }

    footer nav.social li:first-child a img{
        width: 30px;
    }

    footer nav.terms ul li{
        display: block;
        margin:10px 0
    }

}


@media screen and (max-width: 620px){

    div.wrpFilter {
        width: 32%;
    }

    div.filterOptions div.wrpFilter:last-child{
        width: 36%;
    }

    div.wrpFilter {
        padding: 10px 5px 10px 7px;
    }

    div.wrpFilter select {
        background-size: 15px;
        font-size: 1.3em;
    } 

    div.externalOptions input{
        position: relative;
        top:-20px;
    }

    div.externalOptions input{
        margin-top:20px
    }


}



@media screen and (max-width: 500px){

    div.externalOptions{
        text-indent: 40px;
    }

    div.externalOptions input{
        margin-top:-3px;
    }

}