/* FONTES */
@font-face {
    font-family: "Miso Bold";
    src: url("../fonts/misoBold.otf");
}


/* RESET */

*{
    margin:0;
    padding:0;
}

html, body{
    touch-action: pan-x pan-y;
}

a{
    text-decoration: none;
    color:inherit;
    display: block;
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input{
    border: none;
}

button{
    font-family: "Miso Bold";
    border:none;
    background: none;
    padding:10px 20px;
    box-sizing: border-box;
}

select{
    -webkit-appearance: none;
}

input[type="date"]::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
  }
  
  input[type="date"] {
    color: #ffffff;
  }
  
  input[type="date"]:focus,
  input[type="date"]:valid {
    color: #666666;
  }
  
  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    content: "";
  }


/* CUSTOM SELECT */


/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: "Miso Bold" !important;
    font-size: 1.4em;
  }
  
  .custom-select select {
    display: none; /* hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #ffffff;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 7px;
    right: 0px;
    width: 20px;
    height: 15px;
    /* border: 6px solid transparent; */
    background: url("../img/arrow_down_BDBFC1.png") no-repeat right/ 20px;
  }

  .toSchedule .select-selected:after {
    background: url("../img/icon-schedule.png") no-repeat right/ 20px;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    /* border-color: transparent transparent rgb(136, 136, 136) transparent; */
    background: url("../img/arrow_down_BDBFC1.png") no-repeat right/ 20px;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div{
    padding: 3px 7px;
    box-sizing: border-box;
    
  }

  .select-selected {
    color: #b8b8b8;
  }
  
  .select-items div,.select-selected {
    /* color: #b8b8b8; */
    /* padding: 5px 0; */
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: #ffffff;
    color:#727376;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 15px rgb(206, 206, 206);
    border: 1px solid #565658;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover{
    background-color: rgba(0, 0, 0, 0.05);
  }

  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }





/* PADRÕES */

body, html{
    font-family: "Miso Bold";
}

.alpha{
    padding-left:0;
}

.beta{
    padding-top:0 !important;
}

.omega{
    padding-right: 0;
}

div.container{
    width: 100%;
    max-width: 1125px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 30px;
    display: flow-root;
}

div.separate{
    width:100%;
    display: table;
    float:left;
    clear:both;
}

div.separate30{
    display: table;
    clear: both;
    float: left;
    width: 100%;
    height: 30px;
}

div.separate170{
    display: table;
    clear: both;
    float: left;
    width: 100%;
    height: 170px;
}


div.content{
     padding:60px 0 40px 0;
}

.btn{
    text-align: center;
    display: block;
    padding: 5px 20px;
    background: rgb(185, 185, 185);
    border-radius: 5px;
    color:#ffffff;
}

.btn.disable{
    pointer-events: none;
    cursor: default;
    background: #BDBFC1;
}

.btn-01{
    background: #FD2101;
}

.btn-02{
    background:#FF9717;
}

.floatNone{
    float:none;
}

.col-2{
    width: 50%;
    float: left;
}

.color78B4C3{
    color: #78B4C3;
}

.colorRed{
    color:red;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }




/* REGRESSIVE */

.regressive{
    width: 100%;
    background:#F2EFEC;
    position: fixed;
    z-index: 99;
    box-shadow: 0px -76px 10px 76px #b5b5b5;
}

.regressive a.btn{
    width: 210px;
    padding: 10px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.regressive span{
    font-size: 2rem;
    color:#727376;
}

.regressive .wrpReg span{
    text-align: center;
    color:#78B4C3;
    width: 100%;
    display: block;
    font-size: 3rem;
    line-height: 36px;
}

.regressive .wrpReg span:first-child{
    font-size: 1.5rem;
}

div.col:last-child{
    align-items: flex-end;
}

div.col{
    width: 33.3%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    float: left;
    height: 115px;
}



/* HEADER */

header{
    background:#fd2101;
    width: 100%;
    padding: 10px 0;
    position: relative;
    height: 40px;
}

header figure img.logo{
    width: 170px;
    float: left;
    position:absolute;
    padding:0 30px;
}

div.addressRes{
    text-align: center;
    color:#bdbfc1;
    font-size: 1.3rem;
    margin-top:20px;
}

div.addressRes i{
    font-size: 2rem;
    margin-bottom:10px
}

input#datepicker{
    font-family: "Miso Bold";
    font-size: 1.25rem;
    color:#bdbfc1;
    background: url(../img/icon-schedule.png) no-repeat right / 20px 20px;
    cursor: pointer;
    width: 100%;
}

a.srcBack{
    text-align: center;
    color: #727376;
    font-size: 1.25rem;
    margin-top:40px;
}

a.srcBack i{
    margin-right: 10px;
    font-size: 1.1rem;
}





/* NAV */

div.navBarMobile{
    display: none;
}

div.navBarMobile img{
    width: 25px;
    box-sizing: border-box;
}

nav.mainNav{
    margin: auto;
    display: table;
    padding-top:2px;
}

nav.mainNav ul li{
    display: inline-block;
    margin:0 16px
}

nav.mainNav ul li a{
    font-size: 1.5em;
    color: #ffffff;
    padding: 5px;
}

nav.mainNav ul li a.subNavIcon{
    background: url(../img/arrow_down.png) no-repeat 100% 70% / 14px;
    padding:0 20px 0 0;
}

a.btnTopHelp{
    color: #ffffff;
    right:0;
    top:0;
    font-size: 1.5em;
    position:absolute;
    padding: 17px 30px;
}






/* CONTENT */

section.top {
    padding-bottom: 40px;
}

div.salutation{
    font-size: 2em;
    color: #9fdb28;
    text-align: center;
}

p.msgTop{
    text-align: center;
    font-size: 1.6em;
    color:#727376;
    width: 100%;
    max-width: 775px;
    margin:auto
}

div.addUnit{
    display: table;
    margin:auto;
    width: 100%;
}

ul.wrpUnitTags{
    margin:auto;
    display: table;
}


div.addUnit .srcAddUnit{
    font-family: "Miso Bold";
    font-size: 1.3em;
    background: url(../img/icon_search.png) no-repeat 10px 15px / 30px;
    padding:17px 15px;
    box-sizing: border-box;
    text-indent: 35px;
    background-color: #F2EFEC;
    border:none;
    border-radius: 7px;
    width: 100%;
    max-width: 510px;
    margin: 30px auto 5px auto;
    display: table;
}


div.addUnit .unitTag{
    font-family: "Miso Bold";
    font-size: 1.3em;
    color: #BDBFC1;
    padding:10px 30px 10px 15px;
    box-sizing: border-box;
    border-radius: 7px;
    border:2px solid #BDBFC1;
    margin: 5px 3px;
    float:left;
    position: relative;
    cursor:context-menu;
}

div.addUnit .unitTag span.closeTag{
    padding:3px;
    box-sizing: border-box;
    position: absolute;
    right: 7px;
    top:30%;
    cursor: pointer;
}

div.addUnit .unitTag span.closeTag img{
    width: 12px; 
}


div.rangeDate{
    display: table;
    margin:auto;
    width: 100%;
    max-width: 275px;
    text-align: center;
    margin-top:25px;
    margin-bottom:20px;
    cursor:pointer
}

div.rangeDate figure img{
    width: 32px;
    float:left;
    margin-right: 15px;
    margin-top:4px;
}

div.rangeDate span{
    float:left;
    display:table;
    font-family: "Miso Bold";
    font-size: 1.6em;
    color: #a0cbd5;
    margin-right: 7px;
    margin-top:3px;
    margin-left: 2px;
}

div.rangeDate input{
    float:left;
    display: table;
    border:none;
    background: none;
    font-family: "Miso Bold";
    font-size: 2em;
    color: #a0cbd5;
    width: 105px;
}


div.filterOptions{
    display: table;
    margin:auto;
    border:2px solid #bdbfc1;
    border-radius: 15px;
}

label.titleFilterOpt{
    font-size: 1.4em;
    color: #727376;
    width: 100%;
    display: table;
    margin-bottom: 5px;
}

div.filterOptions div.wrpFilter:last-child {
    border-right: none;
}

div.wrpFilter{
    display: table;
    float:left;
    width: 160px;
    border-right:2px solid #bdbfc1;
    padding:10px 10px 10px 7px;
    box-sizing: border-box;
}

div.wrpFilter select{
    cursor:pointer;
    -webkit-appearance: none;
    font-family: "Miso Bold";
    font-size: 1em;
    color: #bdbfc1;
    width: 100%;
    border:none;
    background: url("../img/arrow_down_BDBFC1.png") no-repeat right/ 20px;
}

div.externalOptions{
    display: table;
    margin:auto;
    padding-top:30px;
    box-sizing: border-box;
}

div.externalOptions label{
    font-size: 1.5em;
    color:#727376;
}

div.externalOptions input{
    width: 30px;
    height: 30px;
    float:left;
    margin-right: 10px;
    -webkit-appearance: none;
    border:2px solid #929292;
    border-radius:3px;
    background:none;
}

div.externalOptions input:checked{
    background: url(../img/icon-check.png) no-repeat 3px 0px #f2efec;
    background-size: 20px;
}

button.btnSearch{
    font-family: "Miso Bold";
    font-size:1.5em;
    background: #ff9717;
    color:#fff;
    display: table;
    margin:30px auto 10px auto;
    border-radius: 5px;
    width: 90%;
    max-width: 350px;
    cursor:pointer;

}




/* OFFER DETAILS */

.descriptionTheme .container{
    margin-top:40px
}


.detailedTheme.col-2{
    float: right;
    background: #A0CBD5;
    padding: 61px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-top: 40px;
    border: 2px solid #FEFEFE;
    width: 45%;
}

.detailedTheme.col-2 p{
    line-height: 40px;
}

section.offerDetails figure{
    margin:auto;
    display: table;
}

section.offerDetails figure img{
    width: 250px;
    margin-bottom: 50px;
}

div.galleryOffer .owl-nav button{
    overflow: hidden;
    text-indent: -999px;
    width: 40px;
    height: 40px;
}

div.galleryOffer .owl-nav button.owl-prev{
    background: url(../svg/chevron-left-solid.svg) no-repeat center center / 30px 30px !important;
    position: absolute;
    top:43%;
}

div.galleryOffer .owl-nav button.owl-next{
    background: url(../svg/chevron-right-solid.svg) no-repeat center center / 30px 30px !important;
    position: absolute;
    top:43%;
    right: 0;
}

div.galleryOffer .trashAndLikeBtn{
    margin-top: 20px;
    margin-right: 20px;
}

div.listItemsDesc.col-2 ul{
    float:left;
    font-size: 1.8rem;
    color: #727272;
    line-height: 46px;
}

section.offerDetails ul li i {
    font-size: 1.1rem;
    margin-right: 10px;
}


section.srcConvida div.barDescTheme{
    background:#727376;
    display: table;
    text-align: center;
    width: 100%;
    float: left;
}

section.srcConvida div.barDescTheme p{
    display:table;
    margin:auto;
    color:white;
    font-size: 1.3rem;
    padding:7px 0;
    box-sizing: border-box;
}

div.moreInfoTheme{
    text-align: center;
    line-height: 36px;
}

section.srcConvida div.moreInfoTheme p{
    line-height: 36px;
}

div.moreInfoTheme ul li{
    font-size: 1.6rem;
    color:#727376;
}





/* OUR TEAM */

div.team{
    float:left;
}

div.wrpTeam{
    width: calc(33.3% - 20px);
    float: left;
    padding:0 10px;
    height: 215px;
}

div.wrpTeam a.btn{
    width: 150px;
    font-size: 1.5em;
    margin: auto;
    right: 0;
    left: 0;
    color:white;
    position: absolute;
    bottom: 0;
    margin-bottom: -35px;
    padding: 5px 10px;
}

div.wrpTeam a.btn.promo1{
    color:#78B4C3;
    background: white;
}

div.wrpTeam a.btn.promo2{
    background:#FF9717;
}

div.wrpTeam h3,
div.wrpTeam span{
    font-size: 1.5rem;
    color: #727376;
}

div.wrpTeam figure{
    display: table;
    float:left;
    padding-right:10px;
    height: 100%;
}

div.wrpTeam figure img{
    width: 100%;
    max-width: 150px;
} 

section.ourTeam div.wrpTeam p{
    text-align: left;
    color: white;
    font-size: 1.4rem;
}

section.result p.dateResults.parag02{
    font-size: 1.5rem;
}

div.wrpTeam h2{
    font-size:2.5rem;
    color:#ff9717
}

div.destaque div.wrpTeam{
    width: calc(33.3% - 20px);
    border:1px solid #BDBFC1;
    border-radius: 10px;
    margin: 0 10px;
    padding: 15px;
    box-sizing: border-box;
    height: inherit;
    min-height: 240px;
    justify-content: center;
    align-items: center;
}

div.destaque div.wrpTeam div.grp{
    flex-wrap: wrap;
    transform: scale(1.2);
}

div.wrpTeam ul li{
    font-size: 1.2rem;
    color: #727376;
    text-align: left;
    letter-spacing: -.5px;
    line-height: 26px;
}

div.wrpTeam ul li i{
    font-size: 1rem;
    margin-right: 5px;
    
}

div.destaque.linePromo{
    width: 100%;
}
div.destaque.linePromo div.wrpTeam{
    width: calc(50% - 20px);
    border: 5px solid white;
    text-align: center;
    border-radius: 20px;
    padding: 15px 15px 15px 15px;
    position: relative;
    display: flex;
    min-height: 335px;
}

div.destaque.linePromo div.wrpTeam span{
    color:white;
    font-size: 2rem;
    line-height: 30px;
}

div.destaque.linePromo div.wrpTeam p{
    color:#727376;
}

div.destaque.linePromo div.wrpTeam h2{
    color:white;
    font-size: 4rem;
    line-height: 50px;
}

div.destaque.linePromo div.wrpTeam p.l1{
    font-size: 1.5rem;
}

div.destaque.linePromo div.wrpTeam p.l2{
    font-size: 2.5rem;
    margin-top:10px
}

div.destaque.linePromo div.wrpTeam p.l2 i{
    font-size:2rem;
    color:#FF9717
}

div.destaque div.wrpTeam h3 span{
    text-transform: uppercase;
}

div.destaque.linePromo div.wrpTeam.borderOrange{
    border-color:#FF9717;
}




div.team.destaque.linePromo.stl2 div.wrpTeam ul{
    margin-left: 15px;
    margin-bottom:20px
}


div.team.destaque.linePromo.stl2 div.wrpTeam ul li{
    font-size: 1.5rem;
    padding: 3px 0;
}

div.destaque.linePromo.stl2 div.wrpTeam{
    min-height: 380px;
}

div.destaque.linePromo.stl2 div.wrpTeam p.l2 {
    position: absolute;
    top: 100px;
    left: 30px;
}

div.destaque.linePromo div.wrpTeam.borderOrange img{
    position:absolute;
    top:10px;
    left:10px;
}

div.destaque div.wrpTeam p{
    color: #BDBFC1;
    font-size:1.5rem
}




/* TESTIMONIAL */


.owl-carousel.testmonial {
    margin: auto;
}

.owl-carousel .owl-video-wrapper {
    border-radius: 20px;
    overflow: hidden;
}


.owl-carousel.testmonial .item{
     border-radius: 20px;
    overflow: hidden;
}

.owl-carousel.testmonial i{
    font-size: 2rem;
}

.owl-carousel .owl-video-tn {
    background-size: cover !important;
}

.owl-carousel.testmonial img.btnVideo{
    position: absolute;
    z-index: 999;
    display: table;
     top: 0;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    color:white;
    text-align: center;
    transform: scale(1.3,1.3) !important;
}

.owl-carousel.testmonial .posterVideo{
    position: absolute;
    z-index: 9;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-video-play-icon {
    background: url(../img/owl.video.play.png) no-repeat !important;
    transform: scale(1.3,1.3) !important;
}

.owl-carousel.testmonial .owl-video-wrapper{
    width: 600px;
    height: 335px;
    margin:auto
}

.owl-carousel.testmonial .owl-dots {
   bottom: -50px;
   top:inherit;
   columns: gray;
}

.owl-carousel.testmonial button{
    margin:0 5px
}

.owl-carousel.testmonial button.owl-dot span{
    background:#bdbfc1;
    width: 15px;
    height: 15px;
}

.owl-carousel.testmonial button.owl-dot.active span{
    background:white;
    width: 15px;
    height: 15px;
}






/* SECTION RESULTS */

section.result{
    background: #F2EFEC;
    padding: 40px 0 20px 0;
}

section.result.clr2{
    background:#A0CBD5;
}

section.result.clr3{
    background:#fffffF;
}

section.result .clr4{
    color:#9FDB28;
}

section.result .clr5{
    color: #A0CBD5
}

section.result p.dateResults{
    text-align: center;
    font-size: 2.3em;
    color:#727376;
    padding-bottom:20px;
}

section.result p.dateResults.dataRes02{
    color:#fff;
}

section.result p.dateResults.dataRes03{
    color:#78B4C3;
}

section.result p.dateResults.dataRes04{
    color: #565658;
}

section.result ul.listItem{
    float: left;
    position: relative;
}

section.result ul li.itemRes{
    box-sizing: border-box;
    padding:7px;
    float: left;
    width: 100%;
    
}

section.result.otherSuggestionsResults ul li .wrpResults{
    border: 1px solid #D2D3D5;
    box-sizing: border-box;
}



section.result ul li .wrpResults h2{
    font-size: 1.9em;
    color: #727376;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 13px;
}

section.result ul li .wrpResults .headerResultArea{
    height: 90px;
    width: 100%;
    float: left;
    padding: 10px 5px;
    box-sizing: border-box;
    margin-bottom:25px;
}

section.result ul li div.countdownTag{
    background: #A0CBD5;
    display: table;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1px 3px 1px 20px;
    position: absolute;
    top: 5.2px;
    left: 25px;
}

span.infoShowcase {
    color: white;
    background: #BDBFC1;
    width: 100%;
    float: left;
    padding: 2px 10px;
    margin-left: -7px;
    margin-top: 41px;
    font-size: 1.15rem;
}

span.infoShowcase span{
    color:#797979;
}

p.counter {
    float: right;
    margin-top: -21px;
    margin-right: 5px;
    color:white;

}

section.result ul li div.countdownTag span{
    display: block;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.8em;
    color:white;
    line-height: 14px;
}

section.result ul li div.countdownTag span:first-child{
    color: #727376;
}

section.result ul li div.countdownTag span:nth-child(2){
    font-size: 1em;
}

section.result ul li .wrpResults{
    width: 100%;
    max-width: 252px;
    background: rgb(255, 255, 255);
    float:left;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

img.tag{
    position: absolute;
    top:-3px;
    z-index: 99;
}

section.result ul li figure img.tagPromo{
    width: 45px;
    margin:8px 0 0 0;
}

img.tagSold,
img.tagReserved{
    width: 90px;
    margin-top:23px;
    margin-left:3px
}


section.result ul li figure img.itemLogo{
    width: 140px;
    margin:auto;
}

section.result ul li figure img.tagExtOpt{
    right:-1px;
    width: 65px;
}

ol.bulletsGroup{
    margin: 5px auto 0 auto;
    display: table;

}

ol.bulletsGroup li{
    width: 8px;
    height: 8px;
    background: #F2EFEC;;
    float: left;
    margin: 7px;
    border-radius: 100%;

}



div.itemResultControls span img,
.owl-nav button img{
    width: 10px;
    height: 20px;

}

div.itemResultControls span.prev,
.owl-nav button.owl-prev{
    float:left;
}

div.itemResultControls span.next,
.owl-nav button.owl-next{
    float:right;
}

div.testaCarousel .owl-nav{
    position: absolute;
    top:-37px;
    width: 100%;
    height: 40px;
}

div.testaCarousel .owl-nav button span{
    position: absolute;
    z-index: 999;
    padding:10px;
}

.owl-nav button span.next{
    right: 0;
}

.owl-nav button span.prev{
    left: 0;
}

.owl-dots{
    position: absolute;
    text-align: center;
    top:-23px;
    right: 0;
    left:0;
}


.showcase {
    float: left;
    padding-top: 26px;
    margin-top: 9px;
}

button.owl-dot span {
    background: #F2EFEC;
    width: 8px;
    height: 8px;
    float: left;
    margin:7px;
    border-radius: 100%;
}


button.owl-dot.active span{
    width: 10px;
    height: 10px;
    background: #848688;
}

div.wrpGalleryItem{
    background: #bdbfc1;
    position: relative;
}

.trashAndLikeBtn{
    position: absolute;
    top:0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.trashAndLikeBtn span{
    background: #ffffff;
    display: table;
    float:left;
    padding:5px;
    border-radius: 100%;
    box-sizing: border-box;
    margin:3px;
    border: 2px solid #BDBFC1;
    cursor: pointer;
    width: 27px;
    height: 27px;
}

.trashAndLikeBtn i{
    width: 20px;
    height: 20px;
}


div.wrpGalleryItem ul.galleryItem li img{
    width:100%;
    height: 160px;
}

div.itemCaption{
    text-align: center;
    background: #727376;
    color: #fff;
    box-sizing: border-box;
    padding:5px 0
}


div.itemDetails{
    box-sizing: border-box;
    padding: 10px 10px 0 15px;
    color: #848688;
    line-height: 22px;
}

div.itemDetails p{
    width: 100%;
    display: table;
}

div.itemDetails p span{
    float: left;
}

div.itemDetails p span.redLink{
    color: red;
}

div.itemDetails a.more{
    color:#FF9717;
    display: initial;
}

div.itemDetails a.viewPrice{
    color:#A0CBD5;
}




div.itemRating{
    display: table;
    float: right;
    margin-top:-41px;
    text-align: right;
}


div.itemRating ul{
    display: table;
    width: 100%;
}

div.itemRating ul li.star{

    background: url(../img/star_empty.png) no-repeat 0 0 / 20px;
    width: 20px;
    height: 20px;
    float: left

}

div.itemRating ul li.star.checked{

    background: url(../img/star_full.png) no-repeat 0 0 / 20px;;

}

li.itemRes a.btn.btn-01{
    
    width: 90%;
    box-sizing: border-box;
    margin: 10px auto 10px auto;
    display: table;
    

}

div.navListControls{
    position: relative;
}

div.navListItem{
    width: 100%;
    float: left;
    position: relative;
    height: 60px;
    margin-top: -250px;
    
}

div.navListItem span{
    display: table;
    cursor:pointer
}

div.navListItem span img{
    
    width:60px;
}

div.navListItem span.prevItem{
    position: absolute;
    left:0;
    /* background: hotpink; */
    display: table;
    margin-left: -85px;

}

div.navListItem span.nextItem{
    position: absolute;
    right:0;
    /* background: hotpink; */
    display: table;
    margin-right: -80px;
}








/* SEARCH CONVIDA */

section.srcConvida{
    background: #F2EFEC;
    padding-top: 20px;
    width: 100%;
}

div.wrpSrcConvida{
    width: 100%;
    background: white;
    display: flow-root;
    padding:50px 0;
}

div.wrpSrcConvida.formart2{
    padding: 50px 20px 0 20px;
    box-sizing: border-box;
}

section.srcConvida p,
section.ourTeam p{
    font-size: 1.5em;
    text-align: center;
    color: #727376;
    line-height: 30px;
}

section.ourTeam p{
    color:#565658;
}

section.srcConvida .btnSearch{
    margin:20px auto;
}

section.srcConvida div.addUnit{
    text-align: center;

}

section.srcConvida div.addUnit .unitTagSrc {
    border: 1px solid #BDBFC1;
    font-size: 1.3em;
    color: #BDBFC1;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 6px 6px;
    display: inline-block;
    cursor: pointer;
    text-indent: -1px;
}

.unitTagSrc.active{
    background: #A0CBD5;
    color:white !important;
    border: 1px solid #A0CBD5 !important;

}







/* FOOTER */


footer{
    background: #F2EFEC;
    display:table;
    width: 100%;
    color: #727376;
    padding: 60px 0 40px 0;
}

footer figure img.logo{
    display: table;
    width: 145px;
    margin-bottom: 20px;
}

footer p.about{
    width: 100%;
    max-width: 400px;
    font-size: 1.5em;
    float:left
}

footer nav.navBottom{
    display:table;
    float:right;
    width: 210px;
}

footer nav.navBottom ul li{
    display: block;
    padding-bottom: 10px;
    font-size: 1.4em;
}

footer div.separate{
    border-bottom:1px solid gray
}

footer div.version{
    float:left;
    width: 100%;
    margin-top:15px;
    font-size:1.3em;
}

footer nav.social{
    text-align: right;
    width: 100%;
    float:right;
    padding: 20px 0;
}


footer nav.social li{
    margin-left:25px
}

footer nav.social li a img{
    width: 30px;
}

footer nav.social li:first-child a img{
    width: 35px;
}

footer nav.terms{
    float:left;
    padding-top:20px;
}

footer nav.terms ul li{
    margin-right:20px;
    font-size:1.3em;
}

footer nav ul li{
    display:inline-block
}

div.joinChat{
    position: fixed;
    right: 50px;
    bottom:50px;
    z-index: 999;
}

div.joinChat a img{
    border-radius: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}





/* MEDIA QUERIES */


@media screen and (max-width: 1280px){

    div.navListItem{
        display: none;
    }
}

@media screen and (max-width: 1140px){

    div.wrpTeam {
        width: 100%;
        float: left;
        padding: 0;
        height: 180px;
        max-width: 450px;
    }

    div.destaque div.wrpTeam {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        margin-bottom:15px;
    }

    div.team{
        float: none;
        margin: auto;
        display: table;
    }

}



@media screen and (max-width: 961px){


    /**** MOBILE ADJUSTMENTS *****/


    /* HEADER  */

    header{
        height: auto;
    }

    header nav.mainNav,
    header a.btnTopHelp{
        display: none;
    }

    header figure img.logo{
        position: initial;
        margin:auto;
        display: table;
        float:none;
        width: 190px;
        padding:5px 0;
    }

    div.navBarMobile{
        display: block;
        position:absolute;
        top:0;
        padding:27px 20px;
        box-sizing: border-box;
    }




    /* CONTENT MOBILE */

    div.salutation{
        float: left;
        font-size: 2.5em;
    }

    p.msgTop{
        float: left;
        text-align: left;
        font-size: 1.5em;
        max-width: inherit;
    }

    div.addUnit input.srcAddUnit{
        margin: 30px 0 5px 0;
        max-width: inherit;
        font-size: 1.5em;
        padding: 15px 15px
    }

    div.wrpUnitTags {
        margin: inherit;
        width: auto;
    }

    section.result ul li figure img.tagPromo {
        width: 50px;
    }

    section.result ul li div.countdownTag {
        border-bottom-left-radius: 10px;
    }

    section.result ul li div.countdownTag span {
        font-size: 1em;
        line-height: 16px;
    }

    div.wrpUnitTags .unitTag{
        display: block;
        margin-left: 0;
    }

    div.rangeDate {
        margin: 25px 0 20px 0;
    }

    div.rangeDate figure img {
        margin-top: 0;
    }

    div.wrpFilter {
        width: 33.3%;
    }

    div.filterOptions {
        margin:inherit;
        width: 100%;
    }

    div.externalOptions {
        margin:inherit;
    }




    /* FOOTER */

    footer p.about{
        font-size: 1.3em;
        float:none;
    }

    footer div.version {
        display: none;
    }

    footer nav.navBottom{
        float:left;
        margin-top:40px
    }


    footer nav.social{
        margin-top:-77px;
    }

    footer nav.social ul li{
        margin-left:10px;
    }

    footer nav.social ul li a img{
        width: 25px;
    }

    footer nav.social li:first-child a img{
        width: 30px;
    }

    footer nav.terms ul li{
        display: block;
        margin:10px 0
    }

    div.addressRes{
        text-align: left;
        margin-bottom: 30px;
        margin-top: 30px;
        float:left
    }

    div.addressRes i{
        margin-right: 10px;
        float: left;
    }
}

@media screen and (max-width: 700px){

    .owl-carousel.testmonial .owl-video-wrapper{
        width: 300px;
        height: 168px;
    }

}

@media screen and (max-width: 620px){

    div.listItemsDesc.col-2,
    div.listItemsDesc.col-2 ul,
    .detailedTheme.col-2{
        width: 100%;
    }

    div.listItemsDesc.col-2{
        margin-top: 130px;
    }

    .descriptionTheme .result .container {
        margin-top: 0px;
    }

    div.barDescTheme span{
        width: 100%;
        float: left;
        font-size: 1.7rem;
    }

    div.moreInfoTheme h2{
        font-size: 2rem;
        line-height: 36px;
        margin-bottom: 10px;
    }

    div.moreInfoTheme ul{
        width: calc(100% - 25px);
        margin-left: 27px;
        line-height: 30px;
    }

    div.moreInfoTheme ul li{
        text-indent: -13.5px;
        padding: 4px 0;
    }

    div.moreInfoTheme,
    div.moreInfoTheme p{
        text-align: left;
    }

    div.barDescTheme span:nth-child(2){
        display: none;
    }

    .detailedTheme.col-2 {
        margin-top:0;
        border:0;
        border-radius: 0;
        font-size: 0.9rem;
        position: absolute;
        left: 0;
        padding: 15px 30px;
        box-sizing: border-box;
    }

    .detailedTheme.col-2 p{
        line-height:inherit;
        letter-spacing: -.5px;
    }

    div.wrpFilter {
        width: 32%;
    }

    div.filterOptions div.wrpFilter:last-child{
        width: 36%;
    }

    div.wrpFilter {
        padding: 10px 5px 10px 7px;
    }

    div.wrpFilter select {
        background-size: 15px;
        font-size: 1em;
    } 

    div.externalOptions input{
        position: relative;
        top:-20px;
    }

    div.externalOptions input{
        margin-top:20px
    }

    section.result ul li .wrpResults{
        max-width: inherit;
    }

    section.result p.dateResults{
        font-size: 2.1em;
        text-align: left;
        padding: 0 25px 20px 25px;
        box-sizing: border-box;
    }


    li.listItem a.btn.btn-01{
        font-size: 1.5em;
        padding:15px 0;
    }

    div.itemDetails a.btn.btn-01{
        position: initial;
        margin-top:20px
    }

    div.navListItem{
        display: none;
    }

    .select-items,
    .select-selected{
        display: none;
    }

    .custom-select select {
        display: block; /* hide original SELECT element: */
    }

    div.itemDetails {
        font-size: 1.4em;
        line-height: 30px;
    }

    div.wrpGalleryItem ul.galleryItem li img{
        
        height: inherit;
    }

    section.srcConvida div.addUnit{
        text-align: left;
    }

    section.srcConvida div.addUnit .unitTagSrc {
        padding: 8px 6px;
        font-size: 1.1em;
        float: left;
        margin: 4px 3px;
    }

    section.result ul li figure img.tagExtOpt {
        width: 85px;
    }

    div.wrpSrcConvida p{
        font-size: 1.6em;
    }

    div.wrpSrcConvida.formart2 p{
        width: 70%;
        margin:auto
    }

    ul.wrpUnitTags {
        width: 100%;
    }

    div.itemRating ul {
        display: table;
        width: inherit;
        float: right;
    }

    div.joinChat{
        position: fixed;
        right: 20px;
        bottom:20px;
        z-index: 999;
    }

    span.infoShowcase{
        color: white;
        font-size: 1.5rem;
        background: #BDBFC1;
        width: 100%;
        float: left;
        padding: 4px 10px 10px 10px;
        margin-left: -7px;
        margin-top: 27px;
    }
    
    .showcase {
        margin-top: 1px;
        padding-top: 35px;
    }

    span.infoShowcase span{
        color:#797979;
    }
    
    p.counter {
        margin-top: -32px;
        font-size: 1.4rem;
    }


    div.wrpGalleryItem .trashAndLikeBtn {
        margin-top:15px;
    }
    
    div.container.fullMobileCase{
        padding:0;
    }

    section.result ul li.itemRes {
        padding: 0 25px;
    }

    section.result ul li figure img.itemLogo {
        width: 180px;

    }
    section.result ul li .wrpResults .headerResultArea {
        margin-bottom: 42px;
    }

    div.itemRating {
        margin-top:-50px;
    }

    section.result ul li .wrpResults h2 {
        font-size: 2.5rem;
         padding-top: 42px;
        box-sizing: border-box;

    }

    img.tagSold, img.tagReserved {
        width: 110px;
        margin-top: 10px;

    }
    
    section.testmonial div.container{
        padding: 0;
    }

    div.team div.wrpTeam{
        height: 210px;
    }

    div.destaque div.wrpTeam {
        height: inherit;
        margin: 0 0 15px 0;
        min-height: inherit;
    }

    div.wrpTeam a.btn{
        width: 125px;
    font-size: 1.3em;
    margin-bottom: -30px;
    }


    div.team div.wrpTeam.mobileAlign figure{
        margin-right: 0;
        margin-left: 15px;
        float: right;
    }

    div.team div.wrpTeam.mobileAlign,
    div.team div.wrpTeam.mobileAlign p{
        text-align: right;
    }

    section.ourTeam div.separate30{
        display: none;
    }

    div.wrpTeam figure img {
        margin-top:10px;
        max-width: 160px;
    }

    
    section.ourTeam > div.container >  p{
        padding:0 0 20px 0;
        text-align: left;
    }

    section.ourTeam div.wrpTeam p {
        line-height: 25px;
    }

    .owl-carousel.testmonial .owl-video-wrapper{
        width: 380px;
        height: 213px;

    }
   
    section.result p.dateResults.titleMobileAlign{
        padding-left: 0;
    }

    div.destaque.linePromo{
        padding: 10px;
        box-sizing: border-box;
    }
    div.destaque.linePromo div.wrpTeam{
        margin: 0 5px;
    }

    div.destaque.linePromo div.wrpTeam {
        width: calc(50% - 10px);
    }

    div.destaque.linePromo div.wrpTeam h2 {
        font-size: 2.7rem;
        line-height: 36px;
        letter-spacing: -1px;
    }
    div.destaque.linePromo div.wrpTeam span {
        font-size: 1.4rem;
    }

    div.destaque.linePromo div.wrpTeam p.l1 {
        font-size: 1.1rem;
        letter-spacing: -.5px;
    }

    div.destaque.linePromo div.wrpTeam{
        min-height: 320px;
    }

    div.destaque.linePromo div.wrpTeam.borderOrange{
        padding-top:80px;
    }

    div.team.destaque.linePromo.stl2 div.wrpTeam.borderOrange{
        padding-top:60px;
    }

    div.team.destaque.linePromo.stl2 div.wrpTeam{
        min-height: 380px;
    }

    div.team.destaque.linePromo.stl2 div.wrpTeam ul{
        margin-left: 0;
        margin-bottom:0
    }
    
    div.team.destaque.linePromo.stl2 div.wrpTeam ul li{
        font-size: 1.2rem;
        padding:0;
    }
    
    div.destaque.linePromo.stl2 div.wrpTeam p.l2 {
        top: 90px;
        left: 10px;
    }

    div.destaque.linePromo div.wrpTeam.borderOrange img {
        width: 60px;
    }

    div.destaque.linePromo div.wrpTeam p.l2 {
        font-size: 1.7rem;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .regressive a.btn {
        width: 170px;
        padding: 7px 14px;
        margin-top: 15px;
    }

    .regressive .wrpScale{
        height: 100px;
    }

    div.col {
        width: 86%;
        height: inherit;
    }

    .regressive{
        padding: 20px 0 15px 0;
    }

    .regressive .wrpReg span {
        text-align: left;
    }

    .regressive .wrpReg span:last-child{
        padding: 0 25px;
        box-sizing: border-box
    }
    
    div.col:last-child{
        position: absolute;
    }

    .regressive span{
        font-size: 1.6rem;
        line-height: 20px;
        /* transform: scale(1,1);
        transition: .5s; */
    }

    .regressive .wrpReg span:first-child{
        font-size: 1.25rem;
    }

    
}

@media screen and (max-width: 500px){

    div.externalOptions{
        text-indent: 40px;
    }

    div.externalOptions input{
        margin-top:-3px;
    }

}